@import url('https://fonts.googleapis.com/css?family=Markazi+Text:400,500');

body {
   background-color: #ffd454;
   font-family: 'Markazi Text', serif;
   color: #222;
}

a {
    text-decoration: none;
    color: #222;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px auto;
    display: block;
    max-width: 300px;
    transition: all 0.3s ease-in;
}

a:hover {
    background-color: #345678;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

.timestamp-container{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 11%;
}

h1 {
    font-size: 55px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 22px;
}

code {
    font-size: 18px;
}

.technologies{
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;
    background-color: #eee;
}